*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #2c3e50;
    height: 70px;
}

main{
    padding-top: 70px;
}

.ms_jumbotron img{
    width: 80%;
}

.ms_jumbotron{
    background-color: #1abc9c;
}

.ms_star-rule{
    height: 4px;
    background-color: white;
    width: 70px;
    margin: 10px;
}

.ms_jumbotron h1{
    font-size: 45px;
}

#portfolio img{
    width: 100%;
    margin: 10px 0px;
}

.fa-star{
    font-size: 25px;
}

#about{
    background-color: #1abc9c;
}

.ms_form{
    width: 70%;
}

.ms_btn{
    background-color: #1abc9c;
}

#info{
    background-color: #3a546d ;
}

.ms_circle{
    border: 1px solid white;
    padding: 10px;
}

#info a{
    text-decoration: none;
    color: #1abc9c;
}

#copyright{
    background-color: #2c3e50;
}

.ms_btn:hover{
    background-color:#1abc9c ;
}

.ms_toggler{
    filter: invert(56%) sepia(1%) saturate(0%) hue-rotate(176deg) brightness(90%) contrast(88%);
}