*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #2c3e50;
}

.ms_jumbotron img{
    width: 80%;
}

.ms_jumbotron{
    background-color: #1abc9c;
}

.ms_star-rule{
    height: 4px;
    background-color: white;
    width: 70px;
    margin: 10px;
}

.ms_jumbotron h1{
    font-size: 45px;
}

#portfolio img{
    width: 100%;
    margin: 10px 0px;
}

.fa-star{
    font-size: 25px;
}

#about{
    background-color: #1abc9c;
}